extends layout

block css
  link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
  link(rel="stylesheet" href='/css/font.css')
  link(rel="stylesheet" href='/css/reset.css')
  link(rel="stylesheet" href='/css/index.css')
  link(rel="stylesheet" href='/css/home.css')

block js
  script(src='//code.jquery.com/jquery-1.11.2.min.js')
  script(src="/js/index.js")

block content
  .viewport
    .page.login(class=(page === 'login') ? 'show' : '')
      .bg
        .shadow
        .center
          img.moving-bg(src='/img/background.jpg')
      .fg
        img.logo(src='/img/logo.svg')
        h1.title HAWK
        a(href='/auth/facebook')
          img.login.button(src='/img/facebook_button.png')
    .page.home(class=(page === 'home') ? 'show' : '')
      a(href='http://students.washington.edu/hmisenar/settings.html')
        .set_button
          i.set.fa.fa-gear
      .settings
      ul.timeline
        li.event
          .top.line
          .bottom.line
          .icon-area
            .icon
              i.fa.fa-power-off
            .pic
              img(src='/img/grant.jpg', width='25px')
          .info
            .description
          .time  00/00/00 00:00
        li.event
          .icon-area
            .icon
              i.fa.fa-location-arrow
            .pic
              img(src='/img/ayush.jpg', width='25px')
          .info
            .description
          .time  00/00/00 00:00
        li.event
          .icon-area
            .icon
              i.fa.fa-road
            .pic
              img(src='/img/hannah.jpg', width='25px')
          .info
            .description
          .time  00/00/00 00:00
        li.event
          .icon-area
            .icon
              i.fa.fa-exclamation-triangle
            .pic
              img(src='/img/grant.jpg', width='25px')
          .info
            .description
          .time  00/00/00 00:00
        li.event
          .icon-area
            .icon
              i.fa.fa-flag-checkered
            .pic
              img(src='/img/ayush.jpg', width='25px')
          .info
            .description
          .time  00/00/00 00:00
        .event
          .icon-area
            .icon
              i.fa.fa-plug
            .pic
              img(src='/img/hannah.jpg', width='25px')
          .info
            .description
          .time  00/00/00 00:00