extends layout

block css
  link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', rel='stylesheet')
  link(rel="stylesheet" href='/css/font.css')
  link(rel="stylesheet" href='/css/reset.css')
  link(rel="stylesheet" href='/css/index.css')
  link(rel="stylesheet" href='/css/home.css')

block js
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCw0Xu5s4PUErf5IhJVhKXRoJoLSf-u7hM")
  script(src='//code.jquery.com/jquery-1.11.2.min.js')
  script(src="/js/index.js")

block content
  .viewport
    .page.login(class=(page === 'login') ? 'show' : '')
      .bg
        .shadow
        .center
          img.moving-bg(src='/img/background.jpg')
      .fg
        img.logo(src='/img/logo.svg')
        h1.title HAWK
        a(href='/auth/facebook')
          img.login.button(src='/img/facebook_button.png')
    .page.home(class=(page === 'home') ? 'show' : '')
      .set.button
        i.gear.fa.fa-gear
      .front-page
        ul.list
          li.setting-area
      .back-page
        .map#map
        .scroll-area
          ul.events.list
            for alert in alerts
              li.event
                .top.line
                .bottom.line
                .icon-area
                  .icon
                    if alert.key == 'start'
                      i.fa.fa-power-off
                    if alert.key == 'speed'
                      i.fa.fa-exclamation-triangle
                    if alert.key == 'geo'
                      i.fa.fa-location-arrow
                    if alert.key == 'battery'
                      i.fa.fa-plug
                  .pic
                    img(src='/img/grant.jpg', width='25px')
                .info
                  h3.title= alert.name
                  .description= alert.info
                .time= alert.relative_time