doctype html
html(lang='en')
  head
    title Hawk

    meta(charset="UTF-8")
    meta(name="description" content="Say hello to Hawk, a parental monitoring app that allows you to check-in on your teen driver seamlessly.")
    meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1")

    //- link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    block css
  body
    block content
    block js