

.scroll-area {
  position: absolute;
  min-height: calc(100% - 300px);
  width: 100%;
  transition: margin-top 1s;
}

.back-page:not(.map-view) .scroll-area {
  margin-top: 300px;
}
.back-page.map-view .scroll-area {
  margin-top: 100%;
}
.back-page .list {
  box-shadow: 0 -2px 2px rgba(0, 0, 0,  0.1);
}

.list {
  width: 100%;
  background-color: rgba(246,164,99, .9);
}

.map-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: gray;
}
.map {
  width: 100%;
  height: 100%;
}

.front-page, .back-page {
  position: absolute;
  width: 100%;
  height: 100%;
}

.set.button {
  position: fixed;
  top: 8px;
  right: 8px;
  font-size: 23px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0,  0.2);
  background-color: rgb(246,164,99);
  z-index: 1000;
  cursor: pointer;
}

.gear {
  color: white;
  margin-right: 20px;
  margin-top: 20px;
  float: right;
}

.event {
  width: 100%;
  padding: 20px 10px;
  display: block;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}
.event:last-child {
  box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
}
.event:first-child {
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.event .line {
  position: absolute;
  width: 1px;
  height: 100%;
  left: 34px;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
.event:first-child .line.top, .event:last-child .line.bottom {
  display: none;
}
.event .line.top {
  bottom: 20px;
}
.event .line.bottom {
  top: 20px;
}

.icon-area {
  float: left;
  position: relative;
  margin-right: 20px;
  width: 50px;
  height: 50px;
}

.icon {
  font-size: 23px;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgb(226,134,79);
  border: 1px solid white;
  float: left;
  position: relative;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}

.icon .fa {
  line-height: 200%;
  color: white;
}

.pic {
  height: 25px;
  width: 25px;
  border-radius: 100%;
  border: 1px solid white;
  position: absolute;
  right: -10px;
  bottom: -5px;
  overflow: hidden;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
}

.info {
  text-align: left;
  float: left;
  padding: 3px;
  padding-left: 15px;
  width: 200px;
}

.info .title {
  color: white;
  font-weight: 700;
  margin-bottom: 5px;
}

.description {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}

.time {
  color: #666;
  float: right;
  font-style: italic;
  font-size: 14px;
}

.option {
  float: right;
  margin-right: 28px;
  margin-top: 5px;
  background-color: rgb(246,164,99);
  font-size: 14px;
  display: inline-block;
}